.container-fluid
	height auto
	.box3
		float: left 
		width: 100%
		height 800px
		margin-top 80px
		position: relative
		.bx3
			margin-left 10%
			width: 80%
			height 100%
			position: absolute

			.box31
				float: left 
				width: 60%
				height 100%
				
				h2
					float: left 
					display block
					width: 100%
					height 9%
					line-height 80px
					padding-left 10px
					background: #fff
					font-family monospace
					
				.box311
					float: left 
					width: 100%
					height 21%
					border-bottom: 2px solid gray
					img
						float: left 
						width: 30%
						height 90%
						box-shadow 0 10px 100px rgba(0, 0, 0, .75)
						&:hover
							opacity: 0.8
					.box3111
						float: left 
						width: 68%
						height 90%
						margin-left: 2%
						.bx31
							float: left 
							width: 15%
							height 45%
							border-bottom  2px solid blue
							h3
								display block
								width: 100%
								height 40%
								float: left 
								text-align center
							h6
								display block
								width: 100%
								height 40%
								float: left 
								text-align center
						.bx32
							float: left 
							margin-left 2%
							width: 83%
							height 90%
							a 
								text-decoration none
								h4
									float: left 
									display block
									width: 100%
									height: 20%
									color pink
									font-family monospace
							p 
								float: left 
								width: 100%
								height 50%
								display block
							button
								float: left 
								width: 35%
								height 25%
								border-radius 10px 
								p 
									font-size: 12px
									padding-top: 5%

			.box32
				float: left 
				width: 37%
				height 100%
				margin-left 3%

				h2
					float: left 
					display block
					width: 100%
					height 8%
					line-height 80px
					padding-left 10px
					background: #fff
					font-family monospace
				video
					float: left 
					width: 100%
					height 25%
					background: red

				h6
					float: left 
					margin-top 5%
					width: 100%
					display block 
					height 3%
					font-size: 20px
					font-family: monospace
				p
					float: left 
					margin-top 5%
					width: 100%
					display block
					height 10%
					padding 0 40px 0 0
					font-family: monospace
				img 
					float left
					width: 100%
					height 20%
					border-radius 10px
				.bx32
					float: left 
					width: 100%
					height 24%

					h2
						float: left 
						width: 100%
						display block 
						height 30%
						font-size: 18px
						font-family: monospace
					.bx321
						float: left 
						width: 100%
						height: 70%
	
						.carousel
								.carousel-item
									img
										width: 100%
										height 130px